.documents__header {
  margin-bottom: 100px;
}

.documents {
  margin-top: 60px;
  padding: 0 40px;
  width: 80%;
}

.documents h1 {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 34px;
  text-transform: uppercase;
  font-family: 'Foglihten';
}

.documents h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 26px;
  margin-top: 42px;
}

.documents p,
.documents div {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 10px;
  font-weight: 400;
}

.documents ul {
  font-size: 14px;
  margin-bottom: 22px;
  padding-left: 16px;
}

.documents li {
  list-style: disc;
  margin-bottom: 4px;
}

.documents__contact {
  margin-top: 60px;
}

@media (max-width: 756px) {
  .documents {
    padding: 0 20px;
    width: 100%;
  }

  .documents h1 {
    font-size: 24px;
  }
}