/* CARD */
.product-card {
  border: 1px solid #ffe2e6;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* MEDIA */
.product-card__media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 345px;
}

.product-card__image {
  max-width: 100%;
  object-fit: contain;
}

/* BADGES */
.product-card__badges {
  position: absolute;
  top: 19px;
  left: 22px;
  display: flex;
  gap: 4px;
  z-index: 2;
}

.product-card__badge {
  padding: 14px 20px;
  font-size: 13px;
  border-radius: 24px;
  border: 1px solid var(--main-color);
  background: transparent;
  text-transform: uppercase;
  white-space: nowrap;
}

.product-card__badge--discount {
  background: var(--main-color);
  color: #fffdfa;
}

.product-card__badge--best {
  right: auto;
}

.product-card__badge--new {
  left: 12px;
  border: 1px solid var(--main-color);
  background: #FFE2E6;

}

/* ADD BUTTON */
.product-card__add-btn {
  position: absolute;
  bottom: 17px;
  right: 18px;
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
}

/* CONTENT */
.product-card__content {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin: 10px;
}

/* META */
.product-card__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__rating {
  display: flex;
  align-items: center;
  font-size: 13px;
}

/* PRICE */
.product-card__price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card__price-current {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.product-card__price-old {
  font-size: 12px;
  color: #78020E80;
  text-decoration: line-through;
}

/* TITLE */
.product-card__title {
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
}
