.home__section {
  margin-bottom: 40px;
  margin-left: 36px;
  margin-right: 36px;
}

.home__section-title{
  font-family: 'Foglihten';
}

/* HERO */
.home__hero {
  display: flex;
  gap: 12px;
  padding-bottom: 24px;
  min-height: 734px;
}
.home__hero-left {
  background-image: url(/images/main_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}
.home__hero-right {
  background-image: url(/images/main_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}

.home__hero-overlay {
  text-align: center;
  padding: 20px;
}
.home__hero-title {
  font-family: 'Foglihten';
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 10px;
}
.home__hero-text {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.home__hero-btn {
  background-color: var(--main-color);
  color: #fef9f3;
  border-radius: 20px;
  padding: 6px 16px;
}

/* BESTSELLERS */

.home__section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.home__categories-list {
  display: flex;
  gap: 10px;
  align-items: center;
}
.home__categories {
  display: flex;
  gap: 24px;
  line-height: 120%;
  font-size: 13px;
}
.home__categories-item {
  color: #78020e4d;
  &:hover {
    color: var(--main-color);
    text-decoration: underline;
  }
}
.home__section-link {
  display: flex;
  white-space: nowrap;
  gap: 10px;
  border: 1px solid var(--main-color);
  border-radius: 24px;
  align-items: center;
  padding: 12px 16px 12px 24px;
}
.home__section-link img {
  height: 24px;
  width: auto;
  &:hover {
    transform: scale(1.2);
  }
}

.home__slider {
  width: 160px;
  height: auto;
  margin-left: auto;
}

/* INFO + FAQ */

.home__info {
  display: flex;
  gap: 12px;
}
.home__info-left {
  background-image: url(/images/main_3.png);
  background-size: cover;
  background-position: center;
  flex: 1;
  min-height: 734px;
  border-radius: 24px 0 0 24px;
}
.home__info-cta {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: end;
  height: 100%;
  max-width: 276px;
  margin-left: 23px;
}
.home__info-btn-icon img {
  height: 44px;
  width: auto;
}

.home__info-label {
  align-self: flex-start;
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(33px);
  -webkit-backdrop-filter: blur(33px);
  border-radius: 24px;
  font-size: 13px;
  line-height: 120%;
  padding: 18px;
  margin-bottom: 8px;
}
.home__info-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;

  border-radius: 24px;
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(33px);
  -webkit-backdrop-filter: blur(33px);
  padding: 8px;
  margin-bottom: 10px;
}
.home__info-btn-text {
  text-align: left;
  flex: 1;
}
.home__info-btn-text h3 {
  padding: 10px 5px;
  margin-bottom: 12px;
  font-size: 20px;
}
.home__info-btn-text p {
  padding: 10px;
  margin-bottom: 8px;
  font-size: 13px;
}
.home__info-btn-icon {
  flex-shrink: 0;
  align-self: flex-end;
}
.home__faq {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  margin-right: 10px;
  margin-bottom: 40px;
  margin-left: 64px;
}
.home__faq-item {
  border-bottom: 1px solid #ffe2e6;
}
.home__faq-question {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;

  list-style: none;
  cursor: pointer;
}
.home__faq-answer {
  font-size: 14px;
  padding-left: 10px;
  margin-top: 12px;
}
.home__faq-toggle {
  font-size: 13px;
  text-decoration: underline;
}

.home__faq-toggle::after {
  content: "ВІДКРИТИ";
}

.home__faq-item[open] .home__faq-toggle::after {
  content: "ЗАКРИТИ";
}

/* SALE */

.home__sale-image {
  border-radius: 24px;
}
.home__sale {
  background-image: url(/images/main_sale.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 620px;
  border-radius: 24px;
  display: flex;
}

.home__sale-content {
  display: flex;
  flex-direction: column;
  padding-top: 121px;
  padding-left: 68px;
  flex: 1;
  justify-content: space-between;
}

.home__sale-info {
  font-family: 'Foglihten';
  display: flex;
  flex-direction: column;

  font-size: 48px;
  font-weight: 500;
}

.home__sale-link {
  display: flex;
  border: 1px solid var(--main-color);
  gap: 10px;
  align-items: center;
  padding: 10px 16px 10px 24px;
  border-radius: 24px;
  text-transform: uppercase;
}
.home__sale-link img {
  width: 24px;
  height: auto;
}
.home__sale-btn {
  color: var(--main-color);
  background-color: #fef9f3;
  border-radius: 24px;
  text-transform: uppercase;

  padding: 14px 24px;
}

.home__sale-actions {
  display: flex;
  gap: 12px;
  margin-bottom: 57px;
}

/* ITEM */

.home__products {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.home__products li {
  max-width: 345px;
}

.home__blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.home__hero-overlay-tablet,
.home__hero-promo-content,
.home__mobile-element {
  display: none;
}

@media (max-width: 1200px) {
  .home__section {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  .home__hero {
    gap: 8px;
    padding-bottom: 24px;
    min-height: 425px;
  }
  .home__products {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 12px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .home__products::-webkit-scrollbar,
  .home__mobile-element {
    display: none;
  }
  .home__sale-info{
    color: #FFFDFA;
  }
  .home__products > li {
    min-width: 240px;
    max-width: 240px;
    scroll-snap-align: start;
  }

  .home__blogs {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 32px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .home__blogs li {
    min-width: 470px;
    max-width: 470px;
    scroll-snap-align: start;
  }

  .home__section {
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .home__hero {
    gap: 8px;
    height: 425px;
  }
  .home__hero-left {
    background-image: url(/images/main_1_tablet.png);
  }
  .home__hero-right {
    background-image: url(/images/main_2_tablet.png);
  }

  .home__info {
    gap: 8px;
  }
  .home__info-left {
    min-height: 425px;
  }
  .home__info-cta {
    max-width: 164px;
    margin-left: 19px;
  }
  .home__info-btn-icon img {
    height: 32px;
  }
  .home__info-label {
    font-size: 14px;
    line-height: 140%;
    padding: 18px;
    margin-bottom: 8px;
  }
  .home__info-btn-text h3 {
    padding: 10px;
  }
  .home__info-btn-text p {
    font-size: 14px;
    text-transform: none;
  }
  .home__faq {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .home__faq-question {
    font-size: 13px;
    padding: 10px;
  }

  .home__desctop-element {
    display: none;
  }
  .home__hero-overlay-tablet {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
  }
  .home__hero-left {
    gap: 0;
  }
  .home__hero-title {
    white-space: normal;
  }

  .home__hero-btn-tablet {
    display: flex;
    white-space: nowrap;
    gap: 10px;
    border: 1px solid var(--main-color);
    border-radius: 24px;
    align-items: center;
    padding: 12px 16px 12px 24px;
    max-width: 172px;
    margin: 0 auto 18px auto;
    text-transform: uppercase;
  }
  .home__hero-btn-tablet img {
    height: 24px;
    width: auto;
    &:hover {
      transform: scale(1.2);
    }
  }
  .home__hero-title {
    display: block;
    font-size: 32px;
    margin-top: 23px;
    max-width: 279px;
    margin-left: auto;
    margin-right: auto;
  }
  .home__hero-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .home__hero-promo-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
  .home__hero-promo-img {
    max-width: 120px;
    max-height: 120px;
  }
  .home__hero-promo-info-top img {
    height: 36px;
    width: auto;
  }
  .home__hero-promo-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .home__hero-promo-info {
    max-width: 136px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(33px);
    -webkit-backdrop-filter: blur(33px);
    padding: 8px;
  }
  .home__hero-promo-name {
    display: block;
    padding: 10px;
    text-transform: uppercase;
  }
  .home__hero-promo-title {
    display: flex;
    max-width: 102px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(33px);
    -webkit-backdrop-filter: blur(33px);
    padding: 8px;
    text-transform: uppercase;
    justify-content: flex-end;
  }
  .home__sale-content {
    padding: 122px 123px 57px 48px;
  }
}

@media (max-width: 756px) {
  .home__tablet-element {
    display: none;
  }
  .home__sale-content {
    padding: 41px 16px 42px 16px;
  }
  .home__hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .home__hero-left,
  .home__hero-right {
    width: 100%;
    aspect-ratio: 1 / 1;

    background-size: cover;
    background-position: center;
    min-height: auto;
    height: auto;
    flex: none;
  }
  .home__hero-left {
    background-image: url(/images/main_1.png);
  }
  .home__hero-right {
    background-image: url(/images/main_2.png);
    padding: 0;
  }
  .home__desctop-element {
    display: block;
  }
  .home__hero-title {
    font-size: 24px;
  }
  .home__hero-text {
    font-size: 13px;
  }
  .home__hero-btn {
    color: var(--main-color);
    background: transparent;
    border: 1px solid var(--main-color);
  }
  .home__mobile-element {
    display: block;
  }
  .home__mobile-element {
    display: flex;
    margin-bottom: 24px;
    font-size: 13px;
  }
  .home__info {
    flex-direction: column;
  }
  .home__info-cta {
    margin-top: 7px;
    margin-left: 7px;
  }
  .home__sale-actions {
    flex-direction: column;
  }
  .home__sale-link {
    justify-content: center;
  }
  .home__blogs {
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    scroll-snap-type: none;
  }

  .home__blogs li {
    min-width: 0;
    max-width: 100%;
    width: 100%;
    scroll-snap-align: none;
  }
}
