.header{
  position: relative;
}

.header,
.header button {
  text-transform: uppercase;
  font-size: 13px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 24px 40px 16px 40px;
}

.header__logo {
  width: 157px;
  height: auto;
}

.header__nav {
  display: flex;
  gap: 20px;

  margin-top: 25px;
  margin-bottom: 17px;
}
.header__nav-left {
  display: flex;
  gap: 12px;
}

.header__search img {
  width: 100%;
  height: auto;
}

.header__menu {
  display: flex;
  gap: 12px;
  white-space: nowrap;
  align-items: center;
}

.header__nav-right {
  display: flex;
  gap: 8px;
}

.header__promo-buttons {
  display: flex;
  gap: 12px;

  border: 1px solid var(--main-color);
  border-radius: 20px;
  padding: 10px 16px;
}
  .header__promo-separator {
  width: 1px;
  background-color: var(--main-color);
  align-self: stretch;
}

.header__contact-button-inner {
  color: #fef9f3;
  background-color: var(--main-color);
  border-radius: 20px;

  padding: 11px 16px;
}

.header__burger {
  display: none;
}

@media (max-width: 1200px) {
  .header__desctop-element {
    display: none;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 18px 18px 20px;
  }
  .header__burger {
    display: flex;
    padding: 10px;
  }
  .burger-checkbox {
    display: none;
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    gap: 4px;
    user-select: none;
  }
  .burger_centr-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }
  .burger_border-line {
    display: block;
    width: 70%;
    height: 2px;
    background-color: var(--main-color);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }
  .burger-checkbox:checked + .burger span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
    width: 100%;
  }
  .burger-checkbox:checked + .burger span:nth-child(2) {
    opacity: 0;
    transform: scale(0);
  }
  .burger-checkbox:checked + .burger span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
    width: 100%;
  }
  .header__nav-right {
    align-items: center;
  }
}

@media (max-width: 756px) {
.header__tablet-element{
  display: none;
}
}
