.header,
.header button {
  text-transform: uppercase;
  font-size: 13px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 24px 40px 16px 40px;
}

.header__logo {
  width: 157px;
  height: auto;
}

.header__nav {
  display: flex;
  gap: 20px;

  margin-top: 25px;
  margin-bottom: 17px;
}
.header__nav-left {
  display: flex;
  gap: 12px;
}

.header__search img {
  width: 100%;
  height: auto;
}

.header__menu {
  display: flex;
  gap: 12px;
  white-space: nowrap;
  align-items: center;
}

.header__nav-right {
  display: flex;
  gap: 8px;
}

.header__promo-buttons {
  display: flex;
  gap: 12px;

  border: 1px solid var(--main-color);
  border-radius: 20px;
  padding: 10px 16px;
}
.header__promo-separator {
  width: 1px;
  height: 100%;
  background-color: var(--main-color);
}

.header__contact-button-inner {
  color: #fef9f3;
  background-color: var(--main-color);
  border-radius: 20px;

  padding: 11px 16px;
}
