.footer {
  background-color: var(--main-color);
  color: #fef9f3;
  border-radius: 24px;
}

.footer__container {
  margin: 0 40px;
}

.footer__top {
  display: flex;
  justify-content: space-between;

  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ffe2e666;
}

.footer__logo {
  width: 251px;
  height: auto;

  margin-bottom: 61px;
}

.footer__socials li {
  width: 41px;
  height: auto;
}
.footer__socials {
  display: flex;
  gap: 57px;
}

.footer__subscribe-title {
  font-size: 13px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.footer__subscribe-description {
  font-size: 14px;
  margin-bottom: 45px;
}

.footer__subscribe-form {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.footer__subscribe-form-input {
  color: #ffe2e6;
  border: 1px solid #fef9f3;
  background: transparent;
  border-radius: 24px;
  flex: 1;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
}
.footer__subscribe-form-input::placeholder {
  color: #ffe2e6;
}

.footer__subscribe-btn {
  color: var(--main-color);
  text-transform: uppercase;
  background-color: #ffe2e6;
  border-radius: 24px;

  padding: 14px 24px;
}

.footer__subscribe-policy {
  font-size: 14px;
}

.footer__section ul {
  text-transform: uppercase;
  font-size: 13px;
}
.footer__section-title {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 600;
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.footer__links {
  margin: 40px 0;
}

.footer__section:nth-child(1) {
  grid-column: span 2;
}
.footer__section:nth-child(2) {
  grid-column: span 2;
}
.footer__section:nth-child(3) {
  grid-column: span 1;
}

.footer__section:nth-child(1) .footer__section-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, auto);
  gap: 16px 40px;
}

.footer__section:nth-child(2) .footer__section-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-auto-flow: column;
  gap: 16px 40px;
}

.footer__section:nth-child(2) .footer__section-list li:nth-child(6) {
  grid-row-start: 4;
}

.footer__section:nth-child(3) ul li {
  margin-bottom: 16px;
}

.footer__bottom {
  border-top: 1px solid #ffe2e666;
}

.footer__bottom-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 756px) {
  .footer__top {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  .footer__branding {
    padding-bottom: 40px;
    border-bottom: 1px solid #ffe2e666;

    width: 100%;
  }
  .footer__logo,
  .footer__socials {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .footer__subscribe-form{
    display: flex;
    flex-direction: column;
  }
  .footer__subscribe-btn{
    width: 40%;
    margin-left: auto;
  }

  .footer__links{
    display: flex;
    flex-direction: column;
  }
  .footer__bottom-content{
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}
