.blog-card {
  border: 1px solid #ffe2e6;
  border-radius: 24px;
}

.blog-card__media {
  position: relative;
  margin-bottom: 24px;
}

.blog-card__action {
  position: absolute;
  top: 18px;
  right: 18px;
}

.blog-card__content {
  margin-top: 24px;
  padding: 8px 10px;
}

.blog-card__date {
  display: inline-block;
  border: 1px solid var(--main-color);
  border-radius: 24px;
  background: #ffe2e6;
  padding: 12px 20px;
  font-size: 14px;
  margin-bottom: 24px;
}

.blog-card__text {
  padding: 10px;
}
.blog-card__title {
  margin-bottom: 12px;
}
